<div class="bg-gray-100 w-full relative py-40 overflow-x-hidden sm:py-10">
  <div class="container max-w-6xl relative w-full mx-auto sm:rounded-lg sm:px-10">
  <div class="mx-auto px-5">
    <div class="flex flex-col">
      <h2 class="mt-5 text-3xltracking-tight md:text-5xl text-blue-950 font-extrabold">Frequenty asked questions</h2>
    </div>
    <div class="mx-auto mt-8 grid">
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-blue-600"> Dedicated customer support and help portal</span>
            <span class="transition group-open:-rotate-180">
              <%= inline_svg_tag('svg/caret_down.svg',class: "w-4 h-4") %>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 pr-4 sm:pr-2"> 
            With our dedicated customer support team, you can rest easy knowing that we’re doing 
            everything we can to save you time, money, and stress
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-blue-600"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
            <span class="transition group-open:-rotate-180">
              <%= inline_svg_tag('svg/caret_down.svg',class: "w-4 h-4") %>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 pr-4"> 
            With our dedicated customer support team, you can rest easy knowing that we’re doing 
            everything we can to save you time, money, and stress
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-blue-600">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
            <span class="transition group-open:-rotate-180">
              <%= inline_svg_tag('svg/caret_down.svg',class: "w-4 h-4") %>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 pr-4"> 
            With our dedicated customer support team, you can rest easy knowing that we’re doing 
            everything we can to save you time, money, and stress
          </p>
        </details>
      </div>
      <div class="py-5">
        <details class="group">
          <summary class="flex cursor-pointer list-none items-center justify-between font-medium">
            <span class="text-blue-600">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed</span>
            <span class="transition group-open:-rotate-180">
              <%= inline_svg_tag('svg/caret_down.svg',class: "w-4 h-4") %>
            </span>
          </summary>
          <p class="group-open:animate-fadeIn mt-3 pr-4"> 
            With our dedicated customer support team, you can rest easy knowing that we’re doing 
            everything we can to save you time, money, and stress
          </p>
        </details>
      </div>
    </div>
  </div>
  </div>
</div>