<div data-controller="content" data-content-target="content">
  <div class="container max-w-6xl mx-auto w-full hidden pr-10 md:flex md:flex-row-reverse">
    <%= inline_svg_tag('svg/arrow_up.svg', class: "w-auto") %>
    <span class="w-[10rem] transform -rotate-[12deg] text-sky-300 py-8"> Inquire us now to avail discounts!</span>
  </div>
  <%= render partial: "hero" %>
  <%= render partial: "collection" %>
  <%= render partial: "faq" %>
</div>